# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Log.txt
/source/ThirdParty/DxLib_VC
/bin/*.ilk
/bin/*.pdb
/source/.vs/DxlibMario/v14/*.suo
/source/*.db
/source/DxlibMario/Debug
/source/DxlibMario/*.user
*.suo
*.opensdf
*.sdf
/source/*.opendb
